body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

nav{
    display: none;
}

h1{
    font-size: 10rem;
}

h3{
    font-size: 3rem;
}

a{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    
}

.logo{
    width: 100px;
    height: 100px;
    background-size: contain;
}

.name{
    height: 100px;
    width: 220px;
    background-size: contain;
}

.icon{
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}