main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 4rem;
    margin-bottom: 50px;
}

.normal {
    background-color: var(--color-search);
    border: 1px solid #727272;
    border-radius:  10px;
    padding-left: 10px;
    height: 60px;
    width: 320px;
    font-size: 1rem;
    color: var(--color-text);
}

main input[type="text"]:focus, .msg:focus {
    outline: none;
}

main input[type="submit"] {
    background-color: var(--purple-background);
    border: none;
    border-radius:  10px;
    text-align: center;
    height: 60px;
    width: 120px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

main input[type="submit"]:hover {
    border: 2px solid var(--purple-background);
    background-color: transparent;
    color: var(--purple-background);
}

main form {
    width: 700px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main div {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.solo input[type="text"] {
    width: 700px;   
}

.msg {
    background-color: var(--color-search);
    border: 1px solid #727272;
    border-radius:  10px;
    padding-left: 10px;
    width: 700px;
    font-size: 1rem;
    color: var(--color-text);
    height: 180px;
    resize: none;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    main form, main div, .msg, .solo input[type="text"], .normal {
        width: 280px;
    }

    main div {
        flex-direction: column;
    }

    input, textarea {
        margin-bottom: 20px;
    }

   main h1 {
        font-size: 3rem;
    }
}