body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: none;
}

.login-area{
    width: 1000px;
    height: 600px;
    background-color: var(--color-nav);
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
}

.sign-in-area{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sign-up-area{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--purple-background);
    border-radius: 200px 40px 40px 0px;
}

.sign-up-area button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    font-size: 1rem;
}

.sign-up-area p{
    color: white;
    margin-top: 100px;
}

.sign-up-area h1{
    color: white;
    margin-top: 200px;
}

form{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], input[type="password"]{
    background-color: var(--color-search);
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom: 20px;
    padding-left: 10px;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: none;
    outline: none;
}

.sign-in-area h1{   
    margin-top: 200px;
}

.sign-in-area a{   
    margin-bottom: 20px;
    text-decoration: none;
    color: #6D6D6D;
    font-weight: 500;
}

a:hover{
    text-decoration: underline;
}

input[type="submit"]{
    background-color: var(--purple-background);
    border: none;
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 1rem;
}

input[type="submit"]:hover{
    background-color: transparent;
    color: var(--purple-background);
    border: 1px solid var(--purple-background);
}

.sign-up-area button:hover{
    background-color: white;
    color: var(--purple-background);
}