body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-user{
    display: none;
}

.login-area{
    width: 900px;
    height: 600px;
    background-color: var(--color-form);
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

form{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], input[type="password"]{
    background-color: var(--color-input);
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom: 20px;
    padding-left: 10px;
    transition: 0.5s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: none;
    outline: none;
}

.login-area h1{   
    font-size: 3rem;
}

.login-area a{   
    margin-bottom: 20px;
    color: #6D6D6D;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.login-area a:hover{
    color: var(--purple);
}

input[type="submit"]{
    background-color: var(--purple);
    border: none;
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

input[type="submit"]:hover{
    background-color: transparent;
    color: var(--purple);
    border: 1px solid var(--purple);
}

.close {
    background-image: var(--close);
    height: 30px;
    width: 30px;
    background-size: cover;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s ease-in-out;
  }

.google {
    border: 2px solid var(--button);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    padding: 15px;
    font-size: 1.1rem;
    background-color: var(--button2);
    transition: 0.5s ease-in-out;
    margin-top: -80px;
}

.google:hover {
    background-color: var(--purple-hover);
    border: 2px solid var(--purple);
}

.google div{
    background-image: url("../src/google.svg");
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-right: 15px;
}

.close:hover {
    transform: scale(120%);
}